:root {
    background-color: rgb(196, 255, 221);
    font-size: 62.5%;
}

*{
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    color: rgb(15, 31, 11);
}

header {
    background-color: royalblue;
    color: black;
    text-align: center;
    font-size: 10rem;
    width: auto;
}

h1,
h2,
h3,
h4,
h5 {
    margin-bottom: 1rem;
}

h1 {
    font-size: 5.4rem;
    color: rgb(19, 19, 53);
    margin-bottom: 5rem;
}

h2 {
    font-size: 2.5rem;
    margin-bottom: 4rem;
    font-weight: 700;
}
 
.timer {
    display: flex;
    justify-content: center;
    align-items: center;
}
#time{
    font-size: 2.5rem;
    margin-bottom: 4rem;
    font-weight: 700;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-center {
    justify-content: center;
    align-items: center;
}
.timerEl {
    margin-bottom: 20px;
}


#quiz {
    display: flex;
    background-color: rgb(196, 255, 221);
    align-items: center;
    justify-content: center;

}

#quiz p {
    font-size: 3rem;
}
  
#answerContainer {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}